SECRET_KEY=a46m25fyhqua72i)&sl6h0p8_=z4@&*#7v65wnz6&gz9td)3$$
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,.yourdomain.com
DATABASE_URL=sqlite:///db.sqlite3
# For PostgreSQL later:
# DATABASE_URL=postgres://user:password@localhost:5432/ems_db