SECRET_KEY=your-super-secret-key-change-this-in-production
DEBUG=False
ALLOWED_HOSTS=127.0.0.1,localhost,.yourdomain.com
DATABASE_URL=sqlite:///db.sqlite3
# For PostgreSQL later:
# DATABASE_URL=postgres://user:password@localhost:5432/ems_db